body {
    padding: 1%;
    /* background-color: green; */
    
}

h1 {
    text-align: center;
}

button {
    border: 1px solid
    
}
button:hover {
    background-color: black;
    color: white;
}


.calculator-container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    padding: 10px;

}

.calculator {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: auto;
    width: auto;
    border: 1px grey solid;
    box-shadow: 10px 10px 10px;

}

.display {
    text-align: right;
    font-weight: bold;
    background-color: rgb(238, 238, 238);
    padding: 1em;
}

.buttons-container {
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 50px 50px 50px;
    background-color: lightgrey;
    grid-gap: 5px;
    padding: 10px;
}

